:root {
  --body-bg: #ffffff;
  --text-color: #333333;
  --blue-color: #2a2a86;
  --blue-color-tranparent: #2a2a86a1;
  --yellow-color: #ffa601;
  --header-menu-detail: #232323;
  --header-menu-detail-light: #7a7a7a;
  --price-color: #ee4d2d;
  --border-color: #ccc;
  --body-dark: #000;
  --text-active: #ff6200;
  --body-grey: #f8f8f8;
  --progress-color: rgb(255, 66, 78);
  --progress-color-light: rgb(255, 170, 175);
  
}

@for $i from 0 through 7 {
  .mb_#{$i*5} {
    margin-bottom: 0px + $i * 5 !important;
  }
}

@for $i from 0 through 7 {
  .mt_#{$i*5} {
    margin-top: 0px + $i * 5 !important;
  }
}

@for $i from 0 through 7 {
  .mr_#{$i*5} {
    margin-right: 0px + $i * 5 !important;
  }
}

@for $i from 0 through 7 {
  .ml_#{$i*5} {
    margin-left: 0px + $i * 5 !important;
  }
}
.upperCase {
  text-transform: uppercase;
}
.borderInput {
  border: none;
}

.arr_ngaydon {
  display: flex;
  justify-content: center;
}
.ngaydon {
  padding-top: 5px;
}
.icon_info {
  width: 30px;
  vertical-align: baseline;
  height: 30px !important;
  margin-left: 5px;
  border: 1px solid #dcdfe6;
  border-radius: 50%;
  display: inline-block;
}
.icon_info:hover {
  background-color: #dcdfe6;
}
.circleButton {
  margin-top: -5px;
  margin-left: -2px;
  color: #606266;
}
.circleButton span {
  font-size: 12px;
  border-radius: 50%;
  background-color: #6e8e8f;
  color: #fff;
}
.circleButton:hover span {
  background-color: #606266;
}
.ant-btn {
  border-radius: 0.25rem;
}
.text {
  text-align: left;
  padding-left: 20px;
}
.clearStyle {
  padding: 0 !important;
  margin: 0 !important;
}
.toUpperCase {
  text-transform: uppercase;
}
.headerTop {
  font-size: 13px;
  line-height: 31px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.headerTop a,
.headerTop span {
  color: var(--body-bg);
  font-weight: 500;
}
.headerTop span {
  font-weight: 700;
  font-size: 14px;
}
.headerTop svg {
  font-size: 24px;
  color: var(--body-bg);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes carousel_status {
  0% {
    bottom: -50px;
    overflow: hidden;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes animation_navbar {
  0% {
    height: 0px;
  }
  100% {
    height: 51px;
  }
}
.header__search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 840px;
  position: relative;
}
.header__searchbar {
  width: 94%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1875rem;
  border-radius: 2 px;
  background: #fff;
}
.header__searchbar-main {
  display: flex;
  flex: 1;
}
.header-height {
  height: 2.5rem;
}
.header__menu a span {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  line-height: 48px;
}
.header__menu a {
  padding: 0px 15px;
}
.header__menu-mobile:nth-child(1) {
  padding: 0px !important;
}
.header__menu-mobile {
  padding: 5px 20px;
}
.header__menu-mobile a {
  font-size: 18px;
}
.header__menu.active a span {
  color: var(--text-active);
}
.header__menu:hover a span {
  color: var(--text-active);
}
.header__menu.active a span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--price-color);
}
.header__menu a span::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--price-color);
  transition: width 0.5s;
}
.header__menu a span:hover::after {
  width: 100%;
}
.ant-breadcrumb-separator {
  color: rgb(222, 217, 216);
  margin: 0;
}
.header__menu-detail .ant-col a h3 {
  text-transform: uppercase;
  color: var(--header-menu-detail);
  font-size: 16px;
}
.header__menu-detail .ant-col a p {
  margin-bottom: 0.5em !important;
  color: var(--header-menu-detail-light) !important;
}
.ant-popover-placement-bottomLeft .ant-popover-arrow,
.ant-popover-placement-bottomRight .ant-popover-arrow {
  display: none;
}
.header__menu a {
  color: var(--header-menu-detail) !important;
}
.ant-popover.ant-popover-placement-bottomLeft,
.ant-popover.ant-popover-placement-bottomRight {
  padding-top: 20px;
}
.ant-breadcrumb-separator {
  color: #ded9d8 !important;
}
.ant-popover.ant-popover-placement-bottomLeft,
.ant-popover.ant-popover-placement-bottomRight {
  padding-top: 14px !important;
  left: 0px !important;
  width: 100% !important;
}
.ant-popover-inner {
  box-shadow: none !important;
}
.header__menu-detail span {
  margin-top: -4px;
  padding-left: 4px;
  text-transform: uppercase;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
}
span.header__menu-detail-status {
  color: var(--price-color);
}
.header__menu-detail p {
  padding: 5px 0px;
}
.header__menu-detail img {
  height: 350px !important;
}

.product__carousel {
  position: relative;
}
.product__carousel__ribbon {
  width: 48%;
  height: 188px;
  position: absolute;
  float: left;
  margin-bottom: 30px;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.product__carousel__ribbon:nth-child(even) {
  margin-right: 4%;
}
@media (max-width: 500px) {
  .product__carousel__ribbon {
    width: 100%;
  }
  .product__carousel__ribbon:nth-child(even) {
    margin-right: 0%;
  }
}
.ribbon {
  position: absolute;
  left: 0;
  top: 40px;
  filter: drop-shadow(2px 3px 2px rgba(black, 0.5));
  > .content {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    background: var(--price-color)
      linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
    width: 50px;
    min-height: 24px;
    transition: clip-path 1s, padding 1s, background 1s;
  }
  &.up > .content {
    clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 50%, 100% 100%, 0 100%);
  }
}
.ribbon_new {
  position: absolute;
  left: 0;
  top: 10px;
  filter: drop-shadow(2px 3px 2px rgba(black, 0.5));
  > .content {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    background: var(--text-active)
      linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
    width: 46px;
    min-height: 24px;
    transition: clip-path 1s, padding 1s, background 1s;
  }
  &.up > .content {
    clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 50%, 100% 100%, 0 100%);
  }
}
.product__carousel-footer-discount {
  color: var(--price-color);
}
.product__carousel-footer-price {
  color: var(--header-menu-detail-light);
}
@keyframes animateTopDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateTopUp {
  from {
    top: 0;
  }
  to {
    top: -100px;
  }
}
@keyframes animateLeft {
  from {
    left: -50px;
    opacity: 0;
  }
  to {
    left: 10px;
    opacity: 1;
  }
}
@keyframes animateRight {
  from {
    right: -50px;
    opacity: 0;
  }
  to {
    right: 24px;
    opacity: 1;
  }
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--price-color) !important;
}
.ant-tabs-ink-bar {
  background: var(--price-color) !important;
}